---
title: Index page,
class: 'category'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# variable example #}
	
	<h1>Brands</h1>

	<article class="chessboard brands">
		<section class="chessboard__row">
			<div class="background">
				<img src="./img/gbg-2.jpg" alt="">
			</div>
			<div class="details">				
				<h2>Prada</h2>				
				<a href="" class="arrow">GO TO SHOPING</a>
			</div>
		</section>
		<section class="chessboard__row">
			<div class="background">				
				<img src="./img/gbg-1.jpg" alt="">				
			</div>
			<div class="details">				
				<h2>Gucci</h2>				
				<a href="" class="arrow">GO TO SHOPING</a>
			</div>
		</section>
		<section class="chessboard__row">
			<div class="background">
				<img src="./img/gbg-2.jpg" alt="">
			</div>
			<div class="details">
					<h2>louis vuitton</h2>
					<a href="" class="arrow">GO TO SHOPING</a>				
			</div>
		</section>
		<section class="chessboard__row">
			<div class="background">
				<img src="./img/gbg-1.jpg" alt="">
			</div>
			<div class="details">
				<h2>CHANEL</h2>
				<a href="" class="arrow">GO TO SHOPING</a>
			</div>
		</section>
	</article>	


{% endblock %}
