main.contacts {
  h1 {
    text-align: center;
  }
  .wrapper {
    margin: 70px auto 0 auto;
    display: flex;
    width: 850px;
  }
  .contacts__details {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    font: 300 22px/1 $Futura;
    font-family: $Futura;
    font-weight: 300;
    color: #141414;
    a {
      font-size: 22px;
      line-height: 1;
      margin-bottom: 28px;
      &.arrow {
        margin-bottom: 20px;        
        padding-left: 0;
        font-size: 14px;
        font-weight: normal;
        &::before {
          display: none;
        }
        &::after {
          left: 0;
          width: 120px;
        }
      }
    }
    p {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .question {
      font-size: 24px;
      margin-top: 16px;
      span {
        
      }
      .question--links {
        display: flex;
        margin-top: 16px;
        margin-left: -4px;
        a {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          img {
            width: 85%;
          }
        }
      }    
    }
  }
  .contacts__form {
    width: 420px;
    flex-shrink: 0;
    margin-top: -30px;
    .form-submit {
      margin-top: 35px;
      .btn {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 960px) {
  main.contacts .wrapper {
    margin: 40px auto 0 auto;
    padding: 0 40px;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
  main.contacts .contacts__details {
    width: auto;
    padding-right: 0;
  }
  main.contacts .contacts__form {
    margin-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  main.contacts .wrapper {    
    padding: 0 26px;    
  }
  main.contacts .contacts__details {
    width: auto;
    padding-right: 0;
  }
  main.contacts .contacts__form {
    margin-top: 0px;
    width: 100%;
  }
}