<footer>
  <div class="footer__toplinks">
    <a href="" class="link">ABOUT US</a>
    <a href="" class="link">OUR BLOG</a>
    <a href="" class="link">CONTACTS</a>    
  </div>
  <div class="wrapper">
    <section class="tel">
      <h5>Звонить нам</h5>
      <a href="tel:+380669565585">+38(066)9565585</a>
      <a href="tel:+380969594374">+38(096)9594374</a>
    </section>
    <section class="subscribe">
      <h5>Будьте в курсе наших новинок, создавайте свои  образы вместе с LOOKBOOK</h5>
      <div class="subscribe--form">
        <input type="email" placeholder="Введите E-mail">
        <button class="btn-reverse">
          <span>подписаться</span>
        </button>
      </div>
    </section>
    <section class="social">
      <h5>Следить за нами</h5>
      <div class="social--list">
        <a href="">
          <img src="./img/icon_viber.svg" alt="">
        </a>
        <a href="">
          <img src="./img/icon_fb.svg" alt="">
        </a>
        <a href="">
          <img src="./img/icon_insta.svg" alt="">
        </a>
      </div>
    </section>
    <section class="schedule">
      <h5>Мы работаем для Вас </h5>
      <p>c 10:00 до 21:00</p>
    </section>
    <section class="copyright">
      <span>© 2020 LOOKBOOK. ALL RIGHTS RESERVED</span>
      <a href="">terms and conditions</a>
    </section>
    <section class="designby">design by Churilov</section>
  </div>
</footer>
