<header>
  <div class="header__wrapper">
    <section class="header__nav">
      <div class="header__sub">
        <a href="" class="header__sub_link current">
          <span>WOMEN</span>
          <i></i>        
        </a>
        <div class="header__sub_menu">
          <ul>
            <li>
              <a href="">CLOTHING</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">ACCESSORIES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">CLOTHING</a>
            </li>
          </ul>          
        </div>
      </div>
      <div class="header__sub">
        <a href="" class="header__sub_link">
          <span>MAN</span>
          <i></i>        
        </a>
        <div class="header__sub_menu">
          <ul>
            <li>
              <a href="">CLOTHING</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">ACCESSORIES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">CLOTHING</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__sub">
        <a href="" class="header__sub_link">
          <span>BRANDS</span>
          <i></i>        
        </a>
        <div class="header__sub_menu">
          <ul>
            <li>
              <a href="">Acne Studios</a>
            </li>
            <li>
              <a href="">B-USED</a>
            </li>
            <li>
              <a href="">Gucci</a>
            </li>
            <li>
              <a href="">John Elliott</a>
            </li>
            <li>
              <a href="">KAPPA KONTROL</a>
            </li>
            <li>
              <a href="">Maison Claire</a>
            </li>
            <li>
              <a href="">Norwood</a>
            </li>
            <li>
              <a href="">Off-White</a>
            </li>
            <li>
              <a href="">Philippe Model</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <a href="./" class="header__logo">Lookbook</a>
    <section class="header__options">
      <div class="search">
        <button class="icon icon-search" data-action="toggleSearch">
          <img src="./img/icon_search.svg" alt="">
          <img src="./img/icon_search_fill.svg" class="hover" alt="">
        </button>
        <section class="search__from">
          <button class="close" id="header-close-form"></button>
          <form action="">
            <input type="text" id="header-search-input" placeholder="Search" autocomplete="off">
            <button type="submit" id="header-search-submit">Search</button>
          </form>
        </section>
      </div>
      <a href="" class="icon">
        <img src="./img/icon_account.svg" alt="">
        <img src="./img/icon_account_fill.svg" class="hover" alt="">
      </a>
      <a href="" class="icon">
        <img src="./img/icon_wish.svg" alt="">
        <img src="./img/icon_wish_fill.svg" class="hover" alt="">
      </a>
      <div class="cart" data-action="toggleCart">
        <a href="" class="icon">
          <img src="./img/icon_bascket.svg" alt="">
          <img src="./img/icon_bascket_fill.svg" class="hover" alt="">
        </a>
        <section class="cart__details">
          <div class="cart__details_title">YOUR BAG (2)</div>
          <ul class="cart__details_list">
            <li>
              <a href="" class="product--delete"></a>
              <div class="product--photo">
                <a href="">
                  <img src="./img/product-1.jpg" alt="">
                </a>
              </div>
              <div class="product--details">
                <h5>
                  <a href="">Heritage Sea Storm print jacket GUCCI</a>
                </h5>
                <p><span>SIZE:</span> M</p>
                <p>15 600 uaH</p>
              </div>
            </li>
            <li>
              <a href="" class="product--delete"></a>
              <div class="product--photo">
                <a href="">
                  <img src="./img/product-1.jpg" alt="">
                </a>
              </div>
              <div class="product--details">
                <h5>
                  <a href="">Heritage Sea Storm print jacket GUCCI</a>
                </h5>
                <p><span>SIZE:</span> S</p>
                <p>23 600 uaH</p>
              </div>
            </li>
          </ul>
          <div class="cart__footer">
            <b>TOTAL:  39 200 UAH</b>
            <a href="" class="btn">
              <span>CHECKOUT</span>
            </a>
          </div>
        </section>
      </div>      
      <div class="lang">
        <select id="lang-select">
          <option value="">eng</option>
          <option value="">рус</option>
          <option value="">укр</option>
        </select>
      </div>
    </section>
  </div>
</header>
