<header>
  <div class="header__wrapper">
    <section class="header__nav">
      <div class="header__sub">
        <a href="" class="header__sub_link current">
          <span>WOMEN</span>
          <i></i>        
        </a>
        <div class="header__sub_menu">
          <ul>
            <li>
              <a href="">CLOTHING</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">ACCESSORIES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">CLOTHING</a>
            </li>
          </ul>          
        </div>
      </div>
      <div class="header__sub">
        <a href="" class="header__sub_link">
          <span>MAN</span>
          <i></i>        
        </a>
        <div class="header__sub_menu">
          <ul>
            <li>
              <a href="">CLOTHING</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">ACCESSORIES</a>
            </li>
            <li>
              <a href="">BAGS</a>
            </li>
            <li>
              <a href="">SHOES</a>
            </li>
            <li>
              <a href="">CLOTHING</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__sub">
        <a href="" class="header__sub_link">
          <span>BRANDS</span>
          <i></i>        
        </a>
        <div class="header__sub_menu">
          <ul>
            <li>
              <a href="">Acne Studios</a>
            </li>
            <li>
              <a href="">B-USED</a>
            </li>
            <li>
              <a href="">Gucci</a>
            </li>
            <li>
              <a href="">John Elliott</a>
            </li>
            <li>
              <a href="">KAPPA KONTROL</a>
            </li>
            <li>
              <a href="">Maison Claire</a>
            </li>
            <li>
              <a href="">Norwood</a>
            </li>
            <li>
              <a href="">Off-White</a>
            </li>
            <li>
              <a href="">Philippe Model</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <a href="" class="header__logo">Lookbook</a>
    <section class="header__options">
      <div class="search">
        <button class="icon icon-search" data-action="toggleSearch">
          <img src="./img/icon_search.svg" alt="">
          <img src="./img/icon_search_fill.svg" class="hover" alt="">
        </button>
      </div>
      <a href="" class="icon">
        <img src="./img/icon_account.svg" alt="">
        <img src="./img/icon_account_fill.svg" class="hover" alt="">
      </a>
      <a href="" class="icon">
        <img src="./img/icon_wish.svg" alt="">
        <img src="./img/icon_wish_fill.svg" class="hover" alt="">
      </a>
      <a href="" class="icon">
        <img src="./img/icon_bascket.svg" alt="">
        <img src="./img/icon_bascket_fill.svg" class="hover" alt="">
      </a>
      <div class="lang">
        <select id="lang-select">
          <option value="">eng</option>
          <option value="">рус</option>
          <option value="">укр</option>
        </select>
      </div>
    </section>
  </div>
</header>
