footer {
  background-color: #141414;  
  .footer__toplinks {
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-size: 14px;
      margin: 0 60px;
    }
  }
  .wrapper {
    padding: 90px 50px 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 412px;
    section {
      color: rgba(255, 255, 255, .8);
      &.tel {
        display: flex;
        flex-direction: column;
        width: 190px;
        flex-shrink: 0;
        a {
          font-family: $Futura;
          font-size: 22px;    
          font-weight: 300;
          text-transform: uppercase;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &.subscribe {        
        width: unquote("-webkit-calc(100% - 190px - 190px)");
        padding: 0 140px;
        flex-shrink: 0;
        margin-bottom: 50px;
        h5 {
          margin-bottom: 48px;
        }
        .subscribe--form {
          display: flex;
          input {
            flex-grow: 1;
            margin-right: 24px;
            height: 60px;
            border-bottom: 1px solid #fff;
            background-color: transparent;
            font-family: $Futura;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            color: rgba(255, 255, 255, .8);
          }
          .btn-reverse {
            width: 190px;
          }
        }
      }
      &.social {
        width: 190px;
        flex-shrink: 0;
        h5 {
          margin-bottom: 58px;
        }
        .social--list {
          display: flex;
          a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 36px;
            &:last-child {
              margin-right: 0;
            }
            img {
              width: 24px;
            }
          }
        }
      }
      &.schedule {
        width: 190px;        
        flex-shrink: 0;
        p {
          font-family: $Futura;
          font-size: 22px;
          line-height: 1;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
      &.copyright {
        width: unquote("-webkit-calc(100% - 190px - 190px)");
        padding: 0 140px;
        flex-shrink: 0;
        font-family: $Futura;
        font-size: 14px;    
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        a {
          position: relative;
          font-weight: 500;
          &:hover {
            &::after {
              transform: scaleX(1);  
            }  
          }
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, .8);
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: transform 250ms ease-in-out;
            transform: scaleX(0);
            transform-origin: left;
          }
        }
      }
      &.designby {
        width: 190px;
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        font-family: $Futura;
        font-size: 14px;    
        font-weight: 400;
        justify-content: flex-end;
      }
    }
    h5 {
      font-family: $Futura;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}


@media screen and (max-width: 1200px) {
  footer .wrapper section.subscribe {
    padding-left: 70px;
    padding-right: 70px;
  }
  footer .wrapper section.copyright {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 992px) {
  footer {
    .wrapper {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      max-height: initial;
      padding: 90px 70px;
      section {
        &.tel {
          width: auto;
          text-align: center;
          order: 1;
          h5 {
            margin-bottom: 10px;
          }
          a {
            margin-bottom: 10px;
          }
        }
        &.subscribe {
          width: auto;
          margin-top: 40px;
          margin-bottom: 0;
          padding: 0;
          order: 3;
          h5 {
            text-align: center;
          }
        }
        &.social {
          width: auto;
          text-align: center;
          margin-top: 40px;
          order: 4;
          h5 {
            margin-bottom: 20px;
          }
        }
        &.schedule {
          width: auto;
          margin-top: 40px;
          text-align: center;
          order: 2;
        }
        &.copyright {
          width: auto;
          margin-top: 40px;
          padding-left: 0;
          padding-right: 0;
          flex-direction: column;
          align-items: center;
          order: 5;
          span {
            margin-bottom: 20px;
          }
        }
        &.designby {
          margin-top: 40px;
          justify-content: center;
          order: 6;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer {
    .footer__toplinks {
      justify-content: space-between;
      padding: 0 20px;
      height: 100px;
      a {
        margin: 0;
      }
    }
    .wrapper {
      padding: 40px 20px 50px 20px;
    }
  }
  footer .wrapper section.subscribe .subscribe--form {
    flex-direction: column;
    align-items: center;
  }
  footer .wrapper section.subscribe .subscribe--form input {
    width: 100%;
    margin-right: 0;
  }
  footer .wrapper section.subscribe .subscribe--form .btn-reverse {
    margin-top: 20px;
  }
}