.icon-card_tel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-card_telegram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-card_viber {
  width: 1em;
  height: 1em;
  fill: initial;
}
